<div class="page-content container">
  <div class="subhead">
    <div class="subhead-heading">
      <%= BattleBoxWeb.PageView.render("_bread_crumbs.html", conn: @conn, segments: ["Games", @id]) %>
    </div>
    <%= if @follow do %>
      <%= live_render(@conn, FollowBack, session: %{"game_pid" => @game_pid, "follow" => @follow}) %>
    <% end %>
  </div>

  <%= live_render(@conn, GameViewer, session: %{"game_id" => @id, "turn" => @turn}) %>
</div>

