<div class="page-content container">
  <div class="subhead">
    <div class="subhead-heading">
      Games / <%= @id %>
    </div>
    <%= if @follow do %>
      <%= live_render(@conn, FollowBack, session: %{"id" => @id, "game" => @game, "follow" => @follow}) %>
    <%= end %>
  </div>
</div>
