<div class="page-content container">
  <div class="subhead">
    <div class="subhead-heading">
      <%= BattleBoxWeb.PageView.render("_bread_crumbs.html", conn: @conn, segments: @nav_segments) %>
    </div>
  </div>

  <%= live_render(@conn, Follow, session: %{"arena" => @arena, "bot" => @bot, "user" => @user}) %>
</div>
