<h1>Getting Started</h1>

<h2>Signup/Login</h2>

<h2>Authentication (Getting an API Key)</h2>

<h2>Choosing a Client</h2>
<h3>Elixir Client</h3>
<h3>Python Client</h3>
<h3 style="color: gray; user-select: none;">JS in the Browser (Coming Soon)</h3>

<h2>What Game to Play</h2>
