<div class="page-content container">
  <div class="subhead">
    <div class="subhead-heading">
      <%= BattleBoxWeb.PageView.render("_bread_crumbs.html", conn: @conn, segments: [{@current_user, :keys}, @api_key.name]) %>
    </div>
  </div>
  <p>Record this token, it won't be available again!<p>
  <div style="font-size: 3em;"><%= @api_key.token %></div>
</div>
