<% [row, col] = @robot.location %>
<% grid_location = "grid-row: #{row + 1}; grid-column: #{col + 1};" %>
<div
     class='<%= "robot #{@robot.player_id}" %>'
     style='<%= grid_location %>'
     phx-value-robot-id="<%= @robot.id %>">
</div>
<div
    id='<%= "robot-#{@robot.id}-health" %>'
    class="robot-health"
    style="<%= grid_location %>"
    phx-click="select-robot"
    phx-value-robot-id="<%= @robot.id %>"><%= @robot.hp %></div>
