<h1>Create a lobby</h1>
<%= form_for @changeset, Routes.lobby_path(@conn, :create), fn f -> %>
  <label>Name: <%= text_input f, :name %></label><br>
  <%= error_tag f, :name %>
  <%= submit "Submit" %>
<% end %>
