<div class="page-content container">
  <div class="subhead">
    <div class="subhead-heading">
      <%= BattleBoxWeb.PageView.render("_bread_crumbs.html", conn: @conn, segments: [@bot, "Edit"]) %>
    </div>
  </div>
  <%= form_for @changeset, Routes.user_bot_path(@conn, :update, @current_user.username, @bot.name), fn form -> %>
    <%= render("_form.html", form: form) %>
    <%= submit "Save Bot", class: "btn btn-primary" %>
  <% end %>
</div>
