<div class="page-content container">
  <div class="subhead">
    <div class="subhead-heading">
      <%= BattleBoxWeb.PageView.render("_bread_crumbs.html", conn: @conn, segments: [{@current_user, :bots}, "New"]) %>
    </div>
  </div>
  <%= form_for @changeset, Routes.bot_path(@conn, :create), fn form -> %>
    <%= render("_form.html", form: form) %>
    <%= submit "Create Bot", class: "btn btn-primary" %>
  <% end %>
</div>
