<script>window.useLiveView = true</script>
<h1>Live Games</h1>
<div class="live-games">
  <%= for game <- @games do %>
    <div class="game" style="border: 1px solid black;">
      <div>ID: <%= game.game_id %></div>
    </div>
  <% end %>
</div>
