@import "../../deps/phoenix_live_view/assets/css/live_view.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ruda', sans-serif;
}

* {
  box-sizing: border-box;
}

.alert:empty {
  display: none;
}

.flex-center-row-space-evenly {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}


.blinking {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
