.bot-server-follow {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

.bot-server-follow .bot-server-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 50px;
}

.bot-server-info .title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
}

.bot-server-follow .status {
  font-weight: bold;
  user-select: none;
  font-size: 7.5em;
  text-transform: uppercase;
  color: black;
}
