.bots {
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
}

.bot {
  border: 1px solid blue;
  padding: 10px;
  margin: 10px;
}

.bot-servers {
  border: 1px solid green;
  padding: 10px;
  margin: 10px;
}

.bot-server {
  border: 1px solid orange;
  padding: 10px;
  margin: 10px;
}
