.header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  background-color: red;
  height: 50px;
  box-shadow: gray 1px 1px 2px;
}

.header .logo { 
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 3px;
}

.header .spacer {
  flex-grow: 1;
}

.header .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.header .github-login {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: 10px;
}

.header .user {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  padding: 10px;
}

.header .user .name {
  margin-right: 20px;
}

.header .user img {
  width: 30px;
  height: 30px;
}
