.not-found-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.not-found-container .title {
  font-size: 10em;
  font-weight: bold;
}

.not-found-container .message {
  font-size: 2em;
  font-weight: lighter;
}
