.robot-game {
  display: grid;
  grid-template: max-content max-content max-content / max-content;
  font-family: 'Ruda', sans-serif;
}

/* GAME HEADER */
.robot-game .game-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  color: #6a6666;
  background-color: #a7a5a5;
}

.robot-game .game-header .title-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.robot-game .game-header .title {
  font-size: 3em;
  user-select: none;
  padding: 3px;
}

.robot-game .game-header .score {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 4px 20px;
  margin: 10px 4px;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.robot-game .game-header .score .player-name {
  font-size: 0.5em;
}

.robot-game .game-header .score .number {
  font-size: 2em;
}

.robot-game .game-header .score.player_1 {
  background-color: #c10c06;
}

.robot-game .game-header .score.player_2 {
  background-color: #016dd6;
}

/* GAME CONTROLS */

.robot-game .game-controls {
}

/* GAME BOARD */

.robot-game-board {
  display: grid;
}

/* TERRAIN */
.robot-game-board .terrain {
  width: 35px;
  height: 30px;
  border: 1px solid gray;
  display: flex;
}

.robot-game-board .terrain .number {
  color: gray;
  user-select: none;
  margin: auto;
}

.robot-game-board .terrain.normal {
  background-color: white;
}
.robot-game-board .terrain.spawn {
  background-color: yellow;
}
.robot-game-board .terrain.inaccessible {
  background-color: lightgray;
}
.robot-game-board .terrain.obstacle {
  background-color: brown;
}

/* ROBOT */
.robot-game-board .robot {
  color: black;
  width: 35px;
  height: 30px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.robot-game-board .robot.selected {
  box-shadow: 10px 10px red;
}

.robot-game-board .robot-health {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  width: 100%;
  height: 100%;
  padding: 1px;

  color: black;
  font-size: 0.8em;
  user-select: none;
}

.robot-game-board .robot-move {
  display: flex;
  font-size: 0.8em;
  user-select: none;
  padding-right: 3.5px;
}

.robot-game-board .robot-move .icon {
  margin: auto;
}

.robot-game-board .robot.player_1 {
  background-color: #ffcccc;
  border-color: #990000;
}

.robot-game-board .robot.player_2 {
  background-color: #cce6ff;
  border-color: #0059b3;
}
