.robot-game-board {
  display: grid;
}

.robot-game-board .terrain {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
}

.robot-game-board .terrain .number {
  color: gray;
  user-select: none;
  margin: auto;
}

.robot-game-board .terrain.normal {
  background-color: white;
}
.robot-game-board .terrain.spawn {
  background-color: yellow;
}
.robot-game-board .terrain.inaccessible {
  background-color: lightgray;
}
.robot-game-board .terrain.obstacle {
  background-color: brown;
}

.robot-game-board .robot {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: green;
  border: 2px solid purple;
}
