.robot-game-board {
  display: grid;
}

.robot-game-board .board-location {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.robot-game-board .board-location.normal {
  background-color: white;
}
.robot-game-board .board-location.spawn {
  background-color: yellow;
}
.robot-game-board .board-location.inaccessible {
  background-color: gray;
}
