.page-content {
  padding-top: 40px;
}

.container {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.subhead {
  display: flex;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e1e4e8;
  flex-flow: row wrap;
  align-items: center;
}

.subhead-heading {
  font-size: 24px;
  font-weight: 400;
  flex: 1 1 auto;
}

a.btn {
  text-decoration: none;
}

.btn {
   display: inline-block;
   padding: 6px 12px;
   font-size: 14px;
   font-weight: 600;
   line-height: 20px;
   white-space: nowrap;
   vertical-align: middle;
   cursor: pointer;
   user-select: none;
   background-repeat: repeat-x;
   background-position: -1px -1px;
   background-size: 110% 110%;
   border: 1px solid rgba(27,31,35,.2);
   border-radius: .25em;
}

.btn {
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
}

.btn:hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  background-position: -.5em;
  border-color: rgba(27,31,35,.35);
}

.btn-primary {
  color: white;
  background-image: linear-gradient(-180deg, var(--primary-one), var(--primary-three) 90%);
}

.btn-primary:hover {
  background-image: linear-gradient(-180deg, var(--primary-four), var(--primary-three) 90%);
  background-position: -.5em;
  border-color: rgba(27,31,35,.5);
}

.btn-danger {
  color: #cb2431;
  background-color: #fafbfc;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
}

.btn-danger:hover {
  color: #fff;
  background-color: #cb2431;
  background-image: linear-gradient(-180deg,#de4450,#cb2431 90%);
  border-color: rgba(27,31,35,.5);
}

.form-group {
  margin: 15px 0;
}

.form-control, .form-select {
  min-height: 34px;
  padding: 6px 8px;
  font-size: 16px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
}

.form-group .form-control {
  width: 440px;
  max-width: 100%;
  margin-right: 5px;
  background-color: #fafbfc;
}

.form-group .help-block {
  color: red;
  font-weight: lighter;
}

.form-control:focus, .form-select:focus {
  border-color: #2188ff;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075), 0 0 0 0.2em rgba(3,102,214,.3);
}

.box {
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

.box-row {
  display: flex;
  align-items: center;
  padding: 16px;
  list-style-type: none;
  border-top: 1px solid #e1e4e8;
  border-bottom: 1px solid #e1e4e8;
}

.box-details {
  margin-right: auto;
}

