<div class="page-content container">
  <div class="subhead">
    <div class="subhead-heading">
      <%= BattleBoxWeb.PageView.render("_bread_crumbs.html", conn: @conn, segments: [@arena, "Edit"]) %>
    </div>
  </div>
  <%= form_for @changeset, Routes.user_arena_path(@conn, :update, @current_user.username, @arena.name), fn form -> %>
    <%= render("_form.html", form: form, conn: @conn) %>
    <%= submit "Save Arena", class: "btn btn-primary" %>
  <% end %>
</div>
