<div class="page-content container">
  <div class="subhead">
    <div class="subhead-heading">
      <%= BattleBoxWeb.PageView.render("_bread_crumbs.html", conn: @conn, segments: [{@current_user, :arenas}, "New"]) %>
    </div>
  </div>
  <%= form_for @changeset, Routes.arena_path(@conn, :create), fn form -> %>
    <%= render("_form.html", form: form, conn: @conn) %>
    <%= submit "Create Arena", class: "btn btn-primary" %>
  <% end %>
</div>
