<%= if @current_user.is_banned do %>
  <div class="not-found-container">
    <div class="title">👨‍⚖️</div>
    <div class="message">You've been banned</div>
  </div>
<% else %>
  <div class="not-found-container">
    <div class="title">🙌</div>
    <div class="message">You're not banned <a href="/">(return to home page)</a></div>
  </div>
<% end %>
