<script>window.useLiveView = true</script>
<h1>Connection Debugger</h1>

<%= if @connected? do %>
  <div>LiveStreaming Connection <%= @connection.id %></div>
<% end %>

<div id="debug-messages" class="messages" phx-update="append">
  <%= for %{id: id, message: message, type: type} <- @messages do %>
    <div id="<%= id %>"><%= type %>: <%= inspect(message) %></div>
  <% end %>
</div>
